@import url('./assets/style/tailwind-text-fill-stroke-plugin.css');
@import url('./assets/style/fonts.css');
@import url('./assets/style/scrollbar.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	margin: 0;
	padding: 0;
	min-width: 320px;
}

body {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #398388;
	background-image: url('./assets/svg/page-background.svg');
}
